<div class="container">

    <div class="texts">
        <h2>Super Sports</h2>
    </div>


    <div data-aos="fade-up" class="cards">

        <div class="card">
            <img src="./img/nija400.png" alt="">
            <h4>Kawasakii Ninja 400</h4>
            <h3>Azul</h3>
            <div class="card-precio">
                <p>S/. </p>
                <p>40 000</p>
            </div>
        </div>

        <div class="card">
            <img src="./img/zs10r.png" alt="">
            <h4>Kawasakii ZS10R</h4>
            <h3>Azul</h3>
            <div class="card-precio">
                <p>S/. </p>
                <p>120 000</p>
            </div>
        </div>

        <div class="card">
            <img src="./img/zx6r.png" alt="">
            <h4>Kawasakii ZX6R</h4>
            <h3>Azul</h3>
            <div class="card-precio">
                <p>S/. </p>
                <p>60 000</p>
            </div>
        </div>

    </div>
</div>