<section class="banner">


</section>


<app-mas-motos class="appmotos"></app-mas-motos>


<section class="presentacionMoto">

    <div class="card1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jqZDSdJ5Zwg?si=Z3666VG82GXedNo1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="card2">

        <div class="texts">

            <h2>YZF-R1</h2>
            <p>Superdeportiva de alta gama capaz de imponer el máximo respeto y de generar un gran orgullo entre sus
                propietarios</p>
        </div>

        <img src="./img/r1_yamaha.png" alt="">

    </div>


</section>