<section class="banner">

    <h1 class="h1adelante">YAMAHA</h1>
    <h1 class="h1atras">YAMAHA</h1>
    <h3>2025</h3>
    <h4>YZF -</h4>
    <h2>R1</h2>
    <img class="moto" src="/img/r1_yamaha.png" alt="">


</section>


<app-mas-motos id="MasMotos" class="appmotos"></app-mas-motos>


<section class="presentacionMoto">

    <div data-aos="fade-right" class="card1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jqZDSdJ5Zwg?si=Z3666VG82GXedNo1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="card2">
        <div class="texts">
            <h2 data-aos="fade-up">YZF-R1</h2>
            <p data-aos="fade-left">Superdeportiva de alta gama capaz de imponer el máximo respeto y de generar un gran
                orgullo entre sus
                propietarios</p>
        </div>

        <img data-aos="fade-left" src="/img/r1_yamaha.png" alt="">

    </div>



</section>